<div></div>
<div class="flex items-center">
  <button matIconButton (click)="handleToggleChat()">
    @if (isChatOn()) {
      <mat-icon>chat_bubble</mat-icon>
    } @else {
      <mat-icon class="material-symbols-outlined">chat_bubble_off</mat-icon>
    }
  </button>
  <div class="px-4">|</div>
  <button matIconButton (click)="handleToggleCamera()">
    @if (isCameraOn()) {
      <mat-icon>video_camera_front</mat-icon>
    } @else {
      <mat-icon class="material-symbols-outlined">video_camera_front_off</mat-icon>
    }
  </button>
  <button matIconButton (click)="handleToggleAudio()">
    @if (isAudioOn()) {
      <mat-icon>mic</mat-icon>
    } @else {
      <mat-icon>mic_off</mat-icon>
    }
  </button>
  <button matIconButton>
    <mat-icon>screen_share</mat-icon>
  </button>
  <div class="px-4">|</div>
  <button matFab extended (click)="handleLeave()">
    <mat-icon>call_end</mat-icon>
    Leave
  </button>
</div>