@if (isAuthenticated()) {
  @let meetingInvitation = meetingInvitation$ | async;

  @if (meetingInvitation && meetingInvitation.status === 'active') {
    <div class="flex gap-x-4 py-2 px-4 bg-tertiary-container border-bottom-1 justify-end">
      <div class="flex items-center gap-x-4">
          <div>{{meetingInvitation.host.username}} started a meeting</div>
          <button type="button" (click)="handleJoinMeeting(meetingInvitation)" class="de-primary-button">Join</button>
      </div>
    </div>
  }
}


<div class="flex grow h-0">
  @if (isAuthenticated()) {
    <nav class="flex flex-col gap-4 py-4 bg-primary-container text-on-primary w-14 min-w-14 border-r border-primary-container">
      <ul class="flex flex-col w-full">
        <li routerLinkActive="bg-surface"  class="text-center">
          <button matIconButton [matTooltip]="user()?.username">
            <mat-icon>person</mat-icon>
          </button>
        </li>
        <li routerLinkActive="bg-surface" class="text-center">
          <a matIconButton [routerLink]="['stream', 'chat']">
            <mat-icon>chat</mat-icon>
          </a>
        </li>
        <li routerLinkActive="bg-surface" class="text-center">
          <a matIconButton [routerLink]="['stream', 'profile']">
            <mat-icon>settings</mat-icon>
          </a>
        </li>
        <li routerLinkActive="bg-surface"  class="text-center">
          <button matIconButton (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </li>
      </ul>
    </nav>
  }
  
  <router-outlet></router-outlet>
</div>